$body-bg: #2A2F32;
$primary: #498d96;
$secondary: #234244;
$success: #499678;
$info: #A4D5A5;
$warning: #FBE8A5;
$danger: #DD5F57;
$light: #e9ecef;
$dark: #2A2F32;
$grey: #4e585e;
$orange: #EEA057;
$light-blue: #48B6C5;


$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);


$themes: (
  union: (primary: #A4D5A5,
    secondary: #498d96,
    success: #499678,
    warning: #FBE8A5,
    danger: #DD5F57,
    screenColor: #161d1b,
    consoleColor: #498d96,
    console2Color: #A4D5A5),
  rad: (primary: #F61794,
    secondary: #9822B1,
    success: #40A890,
    warning: #BEC43F,
    danger: #cd1953,
    screenColor: #191f24,
    consoleColor: #498d96,
    console2Color: #A4D5A5),
);

@mixin themed() {

  @each $theme,
  $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key,
      $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function _($key) {
  @return map-get($theme-map, $key);
}

// Themed things, TODO move this later

.text-theme-primary {
  @include themed() {
    color: _('primary');

    &:active,
    :focus {
      color: _('primary');
    }
  }
}

.text-theme-secondary {
  @include themed() {
    color: _('secondary');
  }
}

.text-theme-success {
  @include themed() {
    color: _('success');
  }
}

.text-theme-warning {
  @include themed() {
    color: _('success');
  }
}

.text-theme-danger {
  @include themed() {
    color: _('success');
  }
}

.border-theme {
  @include themed() {
    border-color: _('primary') !important;
  }
}

.screen-theme {
  @include themed() {
    background-color: _('screenColor');
    box-shadow: inset 0px 0px 10px transparentize(_('primary'), .5);

    button {
      border-style: solid;
      border-width: 1px;
    }


    .btn-theme-primary {
      background-color: transparent !important;
      border-color: _('primary');
      color: _('primary');

      &:hover {
        background-color: transparentize(_('primary'), .3) !important;
        color: _('screenColor');
        box-shadow: 0px 0px 3px _('primary');
      }

      &.active {
        background-color: _('warning') !important;
        color: _('screenColor');
        box-shadow: 0px 0px 3px _('warning');
      }
    }

    // SCROLL BAR

    &::-webkit-scrollbar-track {
      position: absolute;
      //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: transparent;
      outline: 1px solid _('primary');
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: _('primary');
      border-radius: 0px;
    }

    &::-webkit-scrollbar {
      position: absolute;
      width: 10px;
      background-color: transparent;
    }
  }
}